*,
*::after,
*::before {
  box-sizing: border-box;
}

/* bluberry: #6B7A8F
  apricot: #F7882F
  citrus: #F7c331
  apple-core: #DCC7AA

  Are ya yellow?!: #feda6a
  Silver Fox: #d4d4dc
  Deep Matte Grey: #393f4d
  Dark Slate: #1d1e22
   */
/****** Header ******/
html {
  background-color: white;
}

body {
  background-color: #DCC7AA;
  margin: 15px;
}

header {
  color: white;
  background: #6B7A8F;
  border: 1px solid white;
  font-family: 'Nanum Gothic', sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

nav {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

nav a {
  color: #F7882F;
  padding-bottom: 10px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

nav a:hover {
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}

/****** About Me ******/
.about h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'Nanum Gothic', sans-serif;
  color: white;
}

.about p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 40px;
  background-color: white;
  padding: 10px;
  border-radius: 1em;

}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about img {
  height: 190px;
  margin: 10px;
  border-radius: .5em;
}

.about {
  padding-bottom: 40px;
  border-bottom: 2px solid black;
  border-bottom-style: dashed;
}

/******* Skills ********/
.skills {
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  padding-bottom: 40px;
  border-bottom: 2px solid black;
  border-bottom-style: dashed;
}

table {
  background-color: #6B7A8F;
  margin: 0 auto;
  width: 90%;
  border-spacing: 10px;
}

th {
  width: 25%;
  background-color: white;
  color: #1d1e22;
}

td {
  text-align: right;
  background-color: white;
  padding-right: 10px;
  font-size: .9rem;
}

td, th {
  border: 1px solid #F7882F;
  margin-bottom: 2rem;
}

td::before {
  height: 30px;
  background-color: #F7c331;
  float: left;
  content: "";
  padding: 0;
}

.html::before {
  width: 80%;
}

.css::before {
  width: 65%;
}

.git::before {
  width: 70%;
}

.coffee-chart::before {
  width: 90%;
}

/****** Random Facts ******/
.random {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.random h2 {
  align-self: center;
  padding-top: 20px;
  font-size: 30px;
  font-family: 'Nanum Gothic', sans-serif;
}

.random img {
  border-radius: 1em;
  width: 520px;
  align-self: center;
}

.random ul {
  background-color: #6B7A8F;
  width: 380px;
  align-self: center;
  border-radius: 1em;
}

.random li {
  font-size: 20px;
  padding: 5px;
  color: #ea9452;
  font-family: 'Open Sans', sans-serif;
}

/****** Footer ******/
.contact img {
  width: 70px;
  margin: 20px;
}

footer p {
  text-align: center;
}

.icons {
  padding-bottom: 20px;
}

/** media **/

@media screen and (min-width: 920px) {
  .about p {
    display: flex;
  }

  .about div {
    display: flex;
  }

  .about img {
    height: 260px;
  }

  .random {
    display: inline-block;
    padding-right: 75px;
    padding-left: 75px;
    height: 600px;
  }

  .random h2 {
    text-align: center;
    padding-bottom: 20px;
  }

  .random img {
    width: 60%;
    float: left;
  }

  .random ul {
    width: 36%;
    float: right;
    margin-top: 0;
  }

  .random li {
    font-size: 17px;
  }
}

@media screen and (min-width: 1200px) {

  .about img {
    height: 218px;
  }

  .random ul {
    height: 315px;
  }

  .random li {
    height: 45px;
  }
}




/****** Projects ******/
.projects {
  padding: 50px;
}

.projects h2 {
  font-size: 39px;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  padding-bottom: 50px;
}

.projects h3 {
  font-size: 29px;
  font-family: 'Nanum Gothic', sans-serif;
  padding-top: 20px;
  text-align: center;
}

.projects a {
  text-decoration: none;
  color: #1d1e22;
}

.other a {
  font-size: 15px;
  font-family: 'Nanum Gothic', sans-serif;
  background-color: white;
  padding: 5px;
  border-radius: .5em;
}

.projects p {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  padding-bottom: 45px;
  background-color: #6B7A8F;
  padding: 20px;
  color: white;
}

.projects h4 {
  text-align: center;
  margin: 0;
}

.other-lab {
  background-color: #6B7A8F;
  padding: 20px;
}

/****** Hobbies ******/
.painting {
  padding-bottom: 40px;
  border-bottom: 2px solid black;
  border-bottom-style: dashed;
}

.painting h2 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}

.painting p {
  padding: 0 40px 40px 40px;
  font-family: 'Open Sans', sans-serif;
}

.painting img {
  height: 190px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 1em;
}

.painting div {
  padding-left: 20px;
  background: #6B7A8F;
  padding-top: 10px;
  padding-bottom: 10px;
}

/** Cricut **/
.cricut h2 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}

.cricut p {
  padding: 0 40px 40px 40px;
  font-family: 'Open Sans', sans-serif;
}

.cricut img {
  padding: 5px;
  width: 300px;
  border: 2px solid white;
  border-radius: 1em;
}

.cricut div {
  padding-left: 20px;
  background: #6B7A8F;
  padding-top: 10px;
  padding-bottom: 10px;
}
