*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Colors:
    dark grey-#3c4245
   light grey-#5f6769
   blueish-#719192
   pink-#dfcdc3
*/
/****** Header ******/
html {
  background-color: white;
}

body {
  background-color: #dfcdc3;
  margin: 15px;
}

header {
  color: white;
  background: #3c4245;
  border: 1px solid white;
  font-family: 'Nanum Gothic', sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

nav {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

nav a {
  color: #dfcdc3;
  padding-bottom: 10px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

nav a:hover {
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}

/******* About Me *******/
.about h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'Nanum Gothic', sans-serif;
  color: white;
  padding-top: 20px;
}

.about p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 40px;
  background-color: white;
  padding: 10px;
  border-radius: 1em;
  border: 1px solid #dfcdc3;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about img {
  height: 190px;
  margin: 10px;
  border: 1px solid #dfcdc3;
  border-radius: .5em;
}

.about {
  background-color: #5f6769;
  padding-bottom: 40px;
}

/********* Skills ********/
.skills {
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  background: #5f6769;
  padding-bottom: 40px;
}

.skills h2 {
  padding-top: 20px;
  color: white;
}

table {
  background-color: #6B7A8F;
  margin: 0 auto;
  width: 90%;
  border-spacing: 10px;
}

th {
  width: 25%;
  background-color: white;
  color: #1d1e22;
}

td {
  text-align: right;
  background-color: white;
  padding-right: 10px;
  font-size: .9rem;
}

td, th {
  border: 1px solid #F7882F;
  margin-bottom: 2rem;
}

td::before {
  height: 30px;
  background-color: #719192;
  float: left;
  content: "";
  padding: 0;
}

.html::before {
  width: 60%;
}

.css::before {
  width: 50%;
}

.git::before {
  width: 60%;
}

.coffee-chart::before {
  width: 90%;
}

/******** Random Facts ********/
.random {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  margin-top: 24px;
  background: #719192;
}

.random h2 {
  color: white;
  align-self: center;
  padding-top: 20px;
  font-size: 30px;
  font-family: 'Nanum Gothic', sans-serif;
}

.random img {
  border-radius: 1em;
  width: 90%;
  height: auto;
  align-self: center;
  border: 1px solid #dfcdc3;
}

.random ul {
  background-color: #dfcdc3;
  border: 2px solid white;
  height: 90%;
  align-self: center;
  border-radius: 1em;
}

.random li {
  font-size: 20px;
  height: 100%;
  padding: 5px;
  color: #3c4245;
  font-family: 'Open Sans', sans-serif;
  list-style: circle;
}

/*********Footer *********/
footer {
  margin: 25px;
  padding: 25px;
}

.contact img {
  width: 70px;
  margin: 20px;
}

footer p {
  text-align: center;
}

.icons {
  padding-bottom: 20px;
}

/********** Projects **********/
.projects {
  padding: 50px;
}

.projects h2 {
  font-size: 40px;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  padding-bottom: 50px;
  text-shadow: 3px 3px 2px #719192;
}

.projects h3 {
  font-size: 29px;
  font-family: 'Nanum Gothic', sans-serif;
  padding-top: 20px;
  text-align: center;
}

.projects a {
  text-decoration: none;
  color: #1d1e22;
}

.projects a:hover {
  background: white;
  border-radius: .5em;
}

.other a {
  font-size: 15px;
  font-family: 'Nanum Gothic', sans-serif;
  background-color: white;
  padding: 5px;
  border-radius: .5em;
}

.projects p {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  padding-bottom: 45px;
  padding: 20px;
  color: white;
}

.projects h4 {
  text-align: center;
  margin: 0;
}

.other-lab {
  padding: 20px;
  background-color: #719192;
  border-radius: 1em;
}

.recreate {
  background: #719192;
  border-radius: 1em;
}

/******** Hobbies ********/

/*** painting ***/
.painting {
  padding-bottom: 40px;
  border-bottom: 2px solid black;
  border-bottom-style: dashed;
}

.painting h2 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  text-shadow: 3px 3px 2px #719192;
}

.painting p {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 17px;
  background-color: #719192;
  color: black;
}

.painting img {
  height: 200px;
  padding: 5px;
  border: 2px solid #dfcdc3;
  border-radius: 1em;
}

.painting div {
  width: 100%;
  background: #5f6769;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*** Cricut ***/
.cricut h2 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  text-shadow: 3px 3px 2px #719192;
}

.cricut p {
  padding: 20px 40px 40px 40px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 17px;
  background-color: #719192;
  color: black;
}

.cricut img {
  padding: 5px;
  height: 200px;
  border: 2px solid #dfcdc3;
  border-radius: 1em;
}

.cricut div {
  padding-left: 20px;
  background: #5f6769;
  padding-top: 10px;
  padding-bottom: 10px;
}

/********** media ************/
@media screen and (min-width: 800px) {
  .about p {
    display: flex;
  }

  .about div {
    display: flex;
  }

  .about img {
    height: 260px;
  }

  .random {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
  }

  .random h2 {
    text-align: center;
    padding-bottom: 20px;
  }

  .random img {
    width: 63%;
    float: left;
  }

  .random ul {
    height: 58%;
    width: 36%;
    float: right;
    margin-top: 0;
  }

  .random li {
    font-size: 17px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    max-width: 100%;
  }

  .about p {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  .about img {
    height: 218px;
  }

  .random ul {
    height: 90%;
  }

  .random li {
    height: 75px;
    font-size: 22px;
  }

  .random img {
    max-width: 58%;
    max-height: 90%;
  }
}
